:root {
  --main-orange: #ff4500;
  --main-p-color: #d1d5db;
  --card-border-color: #2b2c41;
  --card-bg: #0d1126;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@function rem($px-value) {
  @return ($px-value / 16) * 1rem;
}

@font-face {
  font-family: "Orbitron";
  src: url("/assets/fonts/Orbitron-VariableFont_wght.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/IntelOneMono-VariableFont_wght.ttf");
}

//GLOBAL STYLES - MIXINS
@mixin section-padding() {
  padding: rem(80) rem(210);
  @media (max-width: 1400px) {
    padding: rem(80) rem(120);
  }

  @media (max-width: 1200px) {
    padding: rem(80) rem(80);
  }

  @media (max-width: 1024px) {
    padding: rem(60) rem(60);
  }

  @media (max-width: 768px) {
    padding: rem(40) rem(40);
  }

  @media (max-width: 480px) {
    padding: rem(24) rem(16);
  }
}

@mixin section-gap($gap: rem(64)) {
  gap: $gap;

  @media (max-width: 1024px) {
    gap: rem(48);
  }
  @media (max-width: 768px) {
    gap: rem(40);
  }
  @media (max-width: 480px) {
    gap: rem(32);
  }
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin card-border {
  border: 1px solid var(--card-border-color);
  border-radius: 8px;
}

@mixin default-card-style {
  @include card-border();
  background-color: var(--card-bg);
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem(20);
}

@mixin custom-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: rem(10);

  li {
    position: relative;
    padding-left: 1.5rem;
    font-size: rem(16);
    color: #9ca3af;

    &::before {
      content: "\f058";
      font-family: "Font Awesome 7 Free";
      font-weight: 900;
      position: absolute;
      left: 0;
      color: var(--main-orange);
    }
  }
}

@mixin custom-list-2 {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: rem(10);

  li {
    position: relative;
    padding-left: 1.5rem;
    font-size: rem(16);
    color: var(--main-p-color);

    &::before {
      content: "\f0a9";
      font-family: "Font Awesome 7 Free";
      font-weight: 900;
      position: absolute;
      left: 0;
      color: var(--main-orange);
    }
  }
}

@mixin orange-bg-btn-styles {
  font-size: rem(18);
  background-color: var(--main-orange);
  color: #fff;
  box-shadow: 0 0 rem(10) rgba(255, 69, 0, 0.7);
  border: none;
  padding: rem(20) rem(32);
  border-radius: rem(8);
  @include flex-align-center();
  gap: rem(16);
  display: flex;
  justify-content: center;

  transition:
    box-shadow 0.3s ease,
    background-color 0.3s ease;

  &:hover {
    background-color: #ff5c1a;
    box-shadow:
      0 0 rem(20) rgba(255, 69, 0, 0.9),
      0 0 rem(40) rgba(255, 69, 0, 0.4);
  }

  @media (max-width: 768px) {
    padding: rem(16) rem(28);
    font-size: rem(16);
  }
}

@mixin orange-icon {
  color: var(--main-orange);
  font-size: rem(32);
  padding: rem(15);

  @media (max-width: 480px) {
    font-size: rem(26);
    padding: rem(10);
  }
}

@mixin main-size-bg {
  width: 100%;
  min-height: 100vh;
  background-color: #080a1a;
}

@mixin linear-bg-top-right {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  inset: 0;
  background: linear-gradient(
    220deg,
    rgba(255, 69, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 70%
  );
}

@mixin no-bg-btn {
  border-radius: 8px;
  border: 1px solid var(--main-orange);
  color: var(--main-orange);
  background: none;
  font-size: rem(16);
  padding: rem(12) rem(18);
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    background-color: rgba(255, 69, 0, 0.1);
    box-shadow: 0 0 rem(12) rgba(255, 69, 0, 0.4);
  }
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #080a1a;
}

body {
  position: relative;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

p,
a,
button {
  font-family: "Inter";
}

h1,
h2,
h3,
h4 {
  font-family: "Orbitron";

  font-weight: bold;
  color: #fff;

  span {
    color: var(--main-orange);
  }
}

h2 {
  font-size: rem(48);

  @media (max-width: 768px) {
    font-size: rem(36);
    text-align: center;
  }
  @media (max-width: 480px) {
    font-size: rem(28);
  }
}

h3 {
  font-size: rem(24);
  color: #fff;

  @media (max-width: 480px) {
    font-size: rem(20);
  }
}

h4 {
  font-size: rem(20);
  color: #fff;

  @media (max-width: 480px) {
    font-size: rem(17);
  }
}

ul {
  list-style: none;
}

p.description {
  font-size: rem(16);
  color: var(--main-p-color);

  @media (max-width: 480px) {
    font-size: rem(14);
  }
}

section.hero {
  @include flex-align-center();
  flex-direction: column;
  gap: 1rem;

  p {
    text-align: center;
    max-width: rem(768);
    color: var(--main-p-color);
    font-size: rem(20);

    @media (max-width: 768px) {
      font-size: rem(17);
      max-width: 100%;
    }

    @media (max-width: 480px) {
      font-size: rem(15);
    }
  }
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  @include flex-align-center();
  background-color: rgba($color: #080a1a, $alpha: 0.8);
  justify-content: space-between;
  padding: rem(16) rem(50);

  .logo {
    @include flex-align-center();
    gap: rem(8);

    a {
      color: #fff;
      font-family: "Orbitron";
      font-size: rem(24);
    }

    .icon {
      display: inline-block;
      width: rem(40);
      height: rem(40);
      background-color: var(--main-orange);
      @include flex-align-center();
      justify-content: center;
      border-radius: 50%;

      img {
        object-fit: contain;
      }
    }
  }

  ul {
    @include flex-align-center();
    gap: rem(32);

    a {
      color: #fff;
      font-size: rem(16);
      position: relative;
      padding-bottom: rem(8);
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        background-color: var(--main-orange);
        transition: all 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }

      &.active::after {
        width: 100%;
      }
    }

    @media (max-width: 1024px) {
      position: fixed;
      top: 0;
      right: 0;
      width: rem(300);
      height: 100vh;
      border-left: 1px solid rgba(255, 255, 255, 0.05);

      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: rem(40);
      padding: rem(40);
      z-index: 999;
      background-color: rgba($color: #080a1a, $alpha: 0.8);

      transform: translateX(100%);
      transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);

      &.open {
        transform: translateX(0);
      }

      li {
        padding-bottom: rem(12);
        a {
          font-size: rem(20);
        }
      }
    }
  }

  .burger {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: rem(24);
    display: none;

    @media (max-width: 1024px) {
      display: block;
      z-index: 1001;
    }
  }

  @media (max-width: 500px) {
    padding-inline: rem(32);
  }
}

main.home-main {
  position: relative;
  @include main-size-bg();

  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    inset: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center 130%;
      position: relative;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(
        circle at center,
        rgba(255, 69, 0, 0.4) 0%,
        rgba(8, 10, 26, 0.9) 70%
      );
      z-index: 1;
    }
  }

  .content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    @include flex-align-center();
    flex-direction: column;
    justify-content: center;
    gap: rem(24);

    h1 {
      font-size: rem(96);
      font-weight: bold;
      text-shadow:
        0 0 rem(10) rgba(255, 69, 0, 0.7),
        0 0 rem(20) rgba(255, 69, 0, 0.5);
      color: #fff;
      text-align: center;

      @media (max-width: 768px) {
        font-size: rem(54);
        line-height: 1.2;
      }
      @media (max-width: 480px) {
        font-size: rem(40);
      }
    }

    p {
      font-size: rem(24);
      text-align: center;
      max-width: rem(800);
      color: #e5e7eb;
      font-weight: normal;

      @media (max-width: 768px) {
        font-size: rem(18);
        max-width: rem(550);
      }
    }

    button {
      @include orange-bg-btn-styles();

      i {
        transition: all 0.3s ease;
      }

      &:hover i {
        transform: translateX(5px);
      }
    }
  }

  @media (max-width: 1024px) {
    object-position: center 100%;
    padding: rem(10);
  }
}

// ABOUT MARS PAGES STYLES
main.about-mars-main {
  position: relative;
  @include main-size-bg();

  .bg {
    @include linear-bg-top-right();
  }

  .content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    @include section-gap();
    padding: rem(80);

    @media (max-width: 1580px) {
      padding: rem(60);
    }

    @media (max-width: 1280px) {
      padding: rem(40);
    }

    @media (max-width: 768px) {
      padding: rem(24);
    }

    section.about-overview {
      @include flex-align-center();
      justify-content: space-between;
      width: 100%;
      gap: rem(40);

      @media (max-width: 1580px) {
        gap: rem(24);

        .img-wrapper img {
          width: rem(320);
          height: rem(320);
        }

        .planet-stats {
          .stat-card {
            width: rem(140);
            padding: rem(13);

            .stat-value {
              font-size: rem(20);
            }
          }
        }
      }

      @media (max-width: 1100px) {
        flex-wrap: wrap;
        justify-content: center;

        .img-wrapper img {
          width: rem(300);
          height: rem(300);
        }

        .text-wrapper {
          width: 100%;
        }

        .planet-stats {
          width: 100%;
          justify-content: flex-start;
        }
      }

      @media (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
        gap: rem(32);
      }

      .img-wrapper {
        img {
          border-radius: 50%;

          @media (max-width: 768px) {
            width: rem(260);
            height: rem(260);
          }

          @media (max-width: 480px) {
            width: rem(200);
            height: rem(200);
          }
        }
      }

      .text-wrapper {
        display: flex;
        flex-direction: column;
        gap: rem(23);
      }

      .planet-stats {
        @include flex-align-center();
        gap: rem(16);
        justify-content: flex-start;

        @media (max-width: 1024px) {
          width: 100%;
        }

        @media (max-width: 600px) {
          flex-wrap: wrap;
          justify-content: center;
        }

        .stat-card {
          background-color: rgba($color: #1e1e3c, $alpha: 0.4);
          padding: rem(17);
          display: flex;
          flex-direction: column;
          width: rem(170);
          @include card-border();

          @media (max-width: 1024px) {
            flex: 1;
            min-width: rem(120);
            width: auto;
          }

          @media (max-width: 600px) {
            width: calc(50% - rem(8));
            flex: none;
          }

          @media (max-width: 360px) {
            width: 100%;
          }

          .stat-title {
            color: #9ca3af;
            font-size: rem(14);
            white-space: nowrap;

            @media (max-width: 480px) {
              font-size: rem(12);
            }
          }

          .stat-value {
            color: #fff;
            font-size: rem(24);
            white-space: nowrap;

            @media (max-width: 480px) {
              font-size: rem(20);
            }
          }
        }
      }
    }

    section.about-features {
      @include flex-align-center();
      justify-content: space-around;
      gap: rem(24);
      align-items: stretch;

      @media (max-width: 1024px) {
        flex-wrap: wrap;
        justify-content: center;

        .feat-card {
          width: calc(50% - rem(12));
        }
      }

      @media (max-width: 600px) {
        flex-direction: column;

        .feat-card {
          width: 100%;
        }
      }

      .feat-card {
        @include default-card-style();
        background-color: rgba($color: #1e1e3c, $alpha: 0.4);

        @media (max-width: 768px) {
          padding: rem(20);
        }

        i {
          @include orange-icon();
        }
      }
    }
  }
}

//MISSIONS PAGE STYLES
main.missions-main {
  @include main-size-bg();
  @include section-gap();
  display: flex;
  flex-direction: column;
  @include section-padding();

  section.missions-wrapper {
    width: 100%;
    overflow: hidden;
    padding: rem(40) 0;

    @media (max-width: 768px) {
      padding: rem(24) 0;
    }
    @media (max-width: 480px) {
      padding: rem(16) 0;
    }

    &:hover .missions-track {
      animation-play-state: paused;
    }

    .missions-track {
      @include flex-align-center();
      @include section-gap();
      width: max-content;
      animation: missions-scroll 25s linear infinite;

      .card {
        @include default-card-style();
        width: rem(280);
        position: relative;

        @media (max-width: 768px) {
          width: rem(240);
          padding: rem(20);
        }
        @media (max-width: 480px) {
          width: rem(200);
          padding: rem(16);
          gap: rem(6);
        }

        &::after {
          content: "";
          width: 100%;
          height: 1.5px;
          position: absolute;
          top: 0;
          right: -50%;
          background: linear-gradient(
            to right,
            rgba(255, 69, 0, 0.7) 0%,
            rgba(30, 144, 255, 0.7) 100%
          );
          transform: rotate(90deg) translateX(50%);
        }

        &::before {
          content: "";
          width: 10px;
          height: 10px;
          background-color: var(--main-orange);
          border-radius: 50%;
          position: absolute;
          top: 20%;
          right: -5px;
        }

        p.year {
          color: var(--main-orange);
          font-family: "Orbitron";
        }
      }
    }
  }

  section.future-explorations {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include section-gap(rem(54));

    .cards-wrapper {
      width: 100%;
      display: flex;
      align-items: stretch;
      gap: rem(24);

      @media (max-width: 880px) {
        flex-wrap: wrap;
      }
      @media (max-width: 480px) {
        gap: rem(16);
      }

      .fut-card {
        @include default-card-style();
        align-items: center;

        h4 {
          text-align: center;
        }

        @media (max-width: 1024px) {
          flex: 1 1 calc(50% - rem(12));
          min-width: rem(240);
        }
        @media (max-width: 880px) {
          flex: 1 1 100%;
        }
        @media (max-width: 480px) {
          padding: rem(24);
          gap: rem(10);
        }

        i {
          @include orange-icon();
        }

        p {
          text-align: center;
        }
      }
    }
  }
}

@keyframes missions-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

//VIRTUAL TOUR PAGES STYLES
main.virtual-tour-main {
  position: relative;
  @include main-size-bg();

  .bg {
    @include linear-bg-top-right();
  }

  .content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    @include section-gap();
    @include section-padding();

    section.map {
      width: 100%;
      @include flex-align-center();
      justify-content: center;
      position: relative;

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
        filter: brightness(0.6);
      }

      button {
        @include orange-bg-btn-styles();
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 480px) {
          font-size: rem(14);
          padding: rem(12) rem(20);
        }
      }
    }

    section.locations {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: rem(24);

      @media (max-width: 480px) {
        gap: rem(16);
      }

      .loc-card {
        width: calc(33.333% - rem(24));
        @include card-border();
        background-color: var(--card-bg);

        @media (max-width: 1024px) {
          width: calc(50% - rem(12));
        }

        @media (max-width: 600px) {
          width: 100%;
        }

        img {
          width: 100%;
          object-fit: cover;
          border-radius: 8px 8px 0 0;

          @media (max-width: 768px) {
            height: rem(170);
          }

          @media (max-width: 480px) {
            height: rem(150);
          }
        }

        button {
          @include no-bg-btn();
        }

        .text-wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          padding: rem(25);
          gap: rem(20);
          align-items: flex-start;

          @media (max-width: 768px) {
            padding: rem(20);
            gap: rem(16);
          }

          @media (max-width: 480px) {
            padding: rem(16);
            gap: rem(12);
          }
        }
      }
    }

    section.footer {
      @include flex-align-center();
      flex-direction: column;
      gap: rem(10);
      justify-content: center;
      button {
        @include orange-bg-btn-styles();

        @media (max-width: 480px) {
          width: 100%;
          justify-content: center;
        }
      }

      p {
        font-size: 14px;
        color: #9ca3af;
      }
    }
  }
}

//COLONIZATION PAGES STYLES
main.colonization-main {
  @include main-size-bg();
  @include section-gap();
  @include section-padding();
  display: flex;
  flex-direction: column;

  section.sectors {
    @include flex-align-center();
    align-items: stretch;
    gap: rem(24);

    @media (max-width: 1024px) {
      flex-wrap: wrap;

      .sector-card {
        flex: 1 1 calc(50% - rem(12));
      }
    }

    @media (max-width: 600px) {
      flex-direction: column;

      .sector-card {
        width: 100%;
      }
    }

    .sector-card {
      @include default-card-style();

      i {
        @include orange-icon();
      }
      ul {
        @include custom-list();
      }
    }
  }

  section.timelines {
    @include card-border();
    @include section-gap(rem(24));
    display: flex;
    flex-direction: column;
    background-color: #0d1126;
    padding: rem(35);
    align-items: center;

    @media (max-width: 768px) {
      padding: rem(24);
    }

    @media (max-width: 480px) {
      padding: rem(16);
    }

    .wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: rem(24);

      @media (max-width: 1024px) {
        flex-wrap: wrap;

        .time-card {
          flex: 1 1 calc(50% - rem(12));
        }
      }

      @media (max-width: 600px) {
        flex-direction: column;

        .time-card {
          width: 100%;
        }
      }

      .time-card {
        display: flex;
        flex-direction: column;
        gap: rem(16);
        h4 {
          color: var(--main-orange);
        }

        ul {
          @include custom-list-2();
        }
      }
    }
  }
}

//CONTACT PAGES STYLES
main.contact-main {
  position: relative;
  @include main-size-bg();

  .bg {
    @include linear-bg-top-right();
  }

  .content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    @include section-gap();
    @include section-padding();

    .join-wrapper {
      display: flex;
      gap: rem(24);
      align-items: flex-start;

      @media (max-width: 1024px) {
        flex-direction: column;
        gap: rem(16);

        section.subscribe-card,
        .right-col {
          width: 100%;
        }
      }

      section.subscribe-card {
        flex: 1;
        @include card-border();
        background-color: #0d1126;
        padding: rem(50) rem(35);
        display: flex;
        flex-direction: column;
        gap: rem(27);

        @media (max-width: 768px) {
          width: 100%;
          padding: rem(35) rem(24);
        }

        @media (max-width: 480px) {
          padding: rem(24) rem(16);
          gap: rem(20);
        }

        form {
          display: flex;
          flex-direction: column;
          gap: rem(16);

          label,
          legend {
            font-size: rem(14);
            font-family: "Inter";
            color: var(--main-p-color);
          }

          button {
            @include orange-bg-btn-styles();
            display: flex;
            justify-content: center;
          }

          .field {
            display: flex;
            flex-direction: column;
            gap: rem(10);

            input[type="text"],
            input[type="email"] {
              @include card-border();
              background-color: rgba($color: #1e1e3c, $alpha: 0.4);
              padding: rem(12) rem(17);
              font-size: rem(16);
              font-family: "Inter";
              caret-color: #9ca3af;
              outline: none;
              color: #9ca3af;

              &:focus {
                outline: 2px solid var(--card-border-color);
              }

              &::placeholder {
                color: #9ca3af;
              }
            }

            .checkbox-wrapper {
              display: flex;
              flex-wrap: wrap;
              gap: rem(10);

              label {
                width: calc(50% - 10px);
                font-size: rem(16);
                @include flex-align-center();
                gap: rem(5);
              }

              input[type="checkbox"] {
                appearance: none;
                width: rem(18);
                height: rem(18);
                border: 1px solid var(--card-border-color);
                border-radius: 4px;
                background: none;
                cursor: pointer;
                position: relative;
                transition: all 0.3s ease;

                &:checked {
                  background-color: var(--main-orange);
                  border-color: var(--main-orange);

                  &::after {
                    content: "";
                    position: absolute;
                    left: 5px;
                    top: 2px;
                    width: 5px;
                    height: 9px;
                    border: 2px solid #fff;
                    border-top: none;
                    border-left: none;
                    transform: rotate(45deg);
                  }
                }
              }
            }
          }
        }
      }

      .right-col {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: rem(24);

        @media (max-width: 768px) {
          width: 100%;
        }

        section.community-card {
          @include card-border();
          background-color: #0d1126;
          padding: rem(50) rem(35);
          display: flex;
          flex-direction: column;
          gap: rem(27);

          @media (max-width: 768px) {
            padding: rem(35) rem(24);
          }

          @media (max-width: 480px) {
            padding: rem(24) rem(16);
            gap: rem(20);
          }

          i {
            @include orange-icon();
          }

          .text {
            display: flex;
            flex-direction: column;
            gap: rem(8);

            h4 {
              font-size: rem(18);
            }
          }

          .program-field {
            display: flex;
            gap: rem(30);

            @media (max-width: 480px) {
              flex-direction: column;
              gap: rem(20);
            }
          }
        }

        section.careers-card {
          @include card-border();
          background-color: #0d1126;
          padding: rem(50) rem(35);
          display: flex;
          flex-direction: column;
          gap: rem(27);

          @media (max-width: 768px) {
            padding: rem(35) rem(24);
          }

          @media (max-width: 480px) {
            padding: rem(24) rem(16);
            gap: rem(20);
          }

          button {
            @include orange-bg-btn-styles();
          }
          .careers-wrapper {
            display: flex;
            flex-direction: column;
            gap: rem(12);

            .career-card {
              background-color: #161b36;
              border-radius: 8px;
              padding: rem(12);
              display: flex;
              align-items: center;
              justify-content: space-between;
              p {
                font-size: rem(16);
                color: #fff;

                @media (max-width: 480px) {
                  font-size: rem(14);
                }
              }
              button {
                @include no-bg-btn();
              }
            }
          }
        }
      }
    }
  }
}

footer {
  position: relative;
  z-index: 1;
  background-color: #06071a;
  display: flex;
  flex-direction: column;
  gap: rem(48);
  @include section-padding();

  .footer-top {
    display: flex;
    align-items: stretch;
    gap: rem(24);

    @media (max-width: 1024px) {
      flex-wrap: wrap;

      .col {
        flex: 1 1 calc(50% - rem(12));
      }
    }

    @media (max-width: 600px) {
      flex-direction: column;

      .col {
        width: 100%;
      }
    }

    .col {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: rem(24);

      .socials,
      ul {
        display: flex;
        flex-direction: column;
        gap: rem(19);
      }

      &.contact-col {
        i {
          color: var(--main-orange);
        }
      }

      .socials {
        display: flex;
        flex-direction: row;
        gap: rem(12);
      }
    }
    p,
    a,
    li {
      font-size: rem(16);
      color: #9ca3af;

      @media (max-width: 480px) {
        font-size: rem(14);
      }
    }

    a.logo {
      color: #fff;
      font-size: rem(24);
    }
  }

  .footer-bottom {
    color: #9ca3af;
    font-size: rem(16);
    border-top: 1px solid #9ca3af;
    display: flex;
    justify-content: space-between;
    padding-top: rem(33);

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
      gap: rem(16);
      text-align: center;
    }

    @media (max-width: 480px) {
      font-size: rem(14);
    }

    .links {
      display: flex;
      gap: rem(19);

      @media (max-width: 480px) {
        flex-wrap: wrap;
        justify-content: center;
        gap: rem(12);
      }

      a {
        color: #9ca3af;
      }
    }
  }
}
