:root {
  --main-orange: #ff4500;
  --main-p-color: #d1d5db;
  --card-border-color: #2b2c41;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Orbitron";
  src: url("/assets/fonts/Orbitron-VariableFont_wght.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/IntelOneMono-VariableFont_wght.ttf");
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #080a1a;
}

body {
  position: relative;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

p,
a,
button {
  font-family: "Inter";
}

h1,
h2,
h3,
h4 {
  font-family: "Orbitron";
  font-weight: bold;
  color: #fff;
}
h1 span,
h2 span,
h3 span,
h4 span {
  color: var(--main-orange);
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
  color: #fff;
}

h4 {
  font-size: 1.25rem;
  color: #fff;
}

ul {
  list-style: none;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(8, 10, 26, 0.8);
  justify-content: space-between;
  padding: 1rem 3.125rem;
}
nav .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
nav .logo a {
  color: #fff;
  font-family: "Orbitron";
  font-size: 1.5rem;
}
nav .logo .icon {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--main-orange);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
nav .logo .icon img {
  -o-object-fit: contain;
     object-fit: contain;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
nav ul a {
  color: #fff;
  font-size: 1rem;
}
nav ul li {
  position: relative;
  padding-bottom: 0.5rem;
  cursor: pointer;
}
nav ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--main-orange);
  transition: all 0.3s ease;
}
nav ul li:hover::after {
  width: 100%;
}
nav ul li.active::after {
  width: 100%;
}
@media (max-width: 1024px) {
  nav ul {
    position: fixed;
    top: 0;
    right: 0;
    width: 18.75rem;
    height: 100vh;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 2.5rem;
    z-index: 999;
    background-color: rgba(8, 10, 26, 0.8);
    transform: translateX(100%);
    transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  }
  nav ul.open {
    transform: translateX(0);
  }
  nav ul li {
    padding-bottom: 0.75rem;
  }
  nav ul li a {
    font-size: 1.25rem;
  }
}
nav .burger {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
@media (max-width: 1024px) {
  nav .burger {
    display: block;
    z-index: 1001;
  }
}
@media (max-width: 500px) {
  nav {
    padding-inline: 2rem;
  }
}

main.home-main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #080a1a;
}
main.home-main .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  inset: 0;
}
main.home-main .bg-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 130%;
     object-position: center 130%;
  position: relative;
}
main.home-main .bg-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, rgba(255, 69, 0, 0.4) 0%, rgba(8, 10, 26, 0.9) 70%);
  z-index: 1;
}
main.home-main .content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
main.home-main .content h1 {
  font-size: 6rem;
  font-weight: bold;
  text-shadow: 0 0 0.625rem rgba(255, 69, 0, 0.7), 0 0 1.25rem rgba(255, 69, 0, 0.5);
  color: #fff;
  text-align: center;
}
@media (max-width: 768px) {
  main.home-main .content h1 {
    font-size: 3.375rem;
    line-height: 1.2;
  }
}
@media (max-width: 480px) {
  main.home-main .content h1 {
    font-size: 2.5rem;
  }
}
main.home-main .content p {
  font-size: 1.5rem;
  text-align: center;
  max-width: 50rem;
  color: #e5e7eb;
  font-weight: normal;
}
@media (max-width: 768px) {
  main.home-main .content p {
    font-size: 1.125rem;
    max-width: 34.375rem;
  }
}
main.home-main .content button {
  font-size: 1.125rem;
  background-color: var(--main-orange);
  color: #fff;
  box-shadow: 0 0 0.625rem rgba(255, 69, 0, 0.7);
  border: none;
  padding: 1.25rem 2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
main.home-main .content button i {
  transition: all 0.3s ease;
}
main.home-main .content button:hover i {
  transform: translateX(5px);
}
@media (max-width: 768px) {
  main.home-main .content button {
    padding: 1rem 1.75rem;
    font-size: 1rem;
  }
}
@media (max-width: 1024px) {
  main.home-main {
    -o-object-position: center 100%;
       object-position: center 100%;
    padding: 0.625rem;
  }
}

main.about-mars-main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #080a1a;
}
main.about-mars-main .bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  inset: 0;
  background: linear-gradient(220deg, rgba(255, 69, 0, 0.1) 0%, rgba(0, 0, 0, 0) 70%);
}
main.about-mars-main .content {
  position: relative;
  z-index: 1;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media (max-width: 1024px) {
  main.about-mars-main .content {
    padding: 3.75rem;
    gap: 3rem;
  }
}
@media (max-width: 768px) {
  main.about-mars-main .content {
    padding: 2.5rem;
    gap: 2.5rem;
  }
}
@media (max-width: 480px) {
  main.about-mars-main .content {
    padding: 1.5rem;
    gap: 2rem;
  }
}
main.about-mars-main .content section.about-hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
main.about-mars-main .content section.about-hero p {
  text-align: center;
  max-width: 48rem;
  color: var(--main-p-color);
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  main.about-mars-main .content section.about-hero p {
    font-size: 1.0625rem;
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  main.about-mars-main .content section.about-hero p {
    font-size: 0.9375rem;
  }
}
main.about-mars-main .content section.about-overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2.5rem;
}
@media (max-width: 1580px) {
  main.about-mars-main .content section.about-overview {
    gap: 1.5rem;
  }
  main.about-mars-main .content section.about-overview .img-wrapper img {
    width: 20rem;
    height: 20rem;
  }
  main.about-mars-main .content section.about-overview .planet-stats .stat-card {
    width: 8.75rem;
    padding: 0.8125rem;
  }
  main.about-mars-main .content section.about-overview .planet-stats .stat-card .stat-value {
    font-size: 1.25rem;
  }
}
@media (max-width: 1100px) {
  main.about-mars-main .content section.about-overview {
    flex-wrap: wrap;
    justify-content: center;
  }
  main.about-mars-main .content section.about-overview .img-wrapper img {
    width: 18.75rem;
    height: 18.75rem;
  }
  main.about-mars-main .content section.about-overview .text-wrapper {
    width: 100%;
  }
  main.about-mars-main .content section.about-overview .planet-stats {
    width: 100%;
    justify-content: flex-start;
  }
}
@media (max-width: 1024px) {
  main.about-mars-main .content section.about-overview {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
main.about-mars-main .content section.about-overview .img-wrapper img {
  border-radius: 50%;
}
@media (max-width: 768px) {
  main.about-mars-main .content section.about-overview .img-wrapper img {
    width: 16.25rem;
    height: 16.25rem;
  }
}
@media (max-width: 480px) {
  main.about-mars-main .content section.about-overview .img-wrapper img {
    width: 12.5rem;
    height: 12.5rem;
  }
}
main.about-mars-main .content section.about-overview .text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.4375rem;
}
main.about-mars-main .content section.about-overview .text-wrapper p {
  font-size: 1rem;
  color: var(--main-p-color);
}
@media (max-width: 480px) {
  main.about-mars-main .content section.about-overview .text-wrapper p {
    font-size: 0.875rem;
  }
}
main.about-mars-main .content section.about-overview .planet-stats {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
}
@media (max-width: 1024px) {
  main.about-mars-main .content section.about-overview .planet-stats {
    width: 100%;
  }
}
@media (max-width: 600px) {
  main.about-mars-main .content section.about-overview .planet-stats {
    flex-wrap: wrap;
    justify-content: center;
  }
}
main.about-mars-main .content section.about-overview .planet-stats .stat-card {
  border-radius: 8px;
  background-color: rgba(30, 30, 60, 0.4);
  padding: 1.0625rem;
  display: flex;
  flex-direction: column;
  width: 10.625rem;
  border: 1px solid var(--card-border-color);
}
@media (max-width: 1024px) {
  main.about-mars-main .content section.about-overview .planet-stats .stat-card {
    flex: 1;
    min-width: 7.5rem;
    width: auto;
  }
}
@media (max-width: 600px) {
  main.about-mars-main .content section.about-overview .planet-stats .stat-card {
    width: calc(50% - 0.5rem);
    flex: none;
  }
}
@media (max-width: 360px) {
  main.about-mars-main .content section.about-overview .planet-stats .stat-card {
    width: 100%;
  }
}
main.about-mars-main .content section.about-overview .planet-stats .stat-card .stat-title {
  color: #9ca3af;
  font-size: 0.875rem;
  white-space: nowrap;
}
@media (max-width: 480px) {
  main.about-mars-main .content section.about-overview .planet-stats .stat-card .stat-title {
    font-size: 0.75rem;
  }
}
main.about-mars-main .content section.about-overview .planet-stats .stat-card .stat-value {
  color: #fff;
  font-size: 1.5rem;
  white-space: nowrap;
}
@media (max-width: 480px) {
  main.about-mars-main .content section.about-overview .planet-stats .stat-card .stat-value {
    font-size: 1.25rem;
  }
}
main.about-mars-main .content section.about-features {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
  align-items: stretch;
}
@media (max-width: 1024px) {
  main.about-mars-main .content section.about-features {
    flex-wrap: wrap;
    justify-content: center;
  }
  main.about-mars-main .content section.about-features .feat-card {
    width: calc(50% - 0.75rem);
  }
}
@media (max-width: 600px) {
  main.about-mars-main .content section.about-features {
    flex-direction: column;
  }
  main.about-mars-main .content section.about-features .feat-card {
    width: 100%;
  }
}
main.about-mars-main .content section.about-features .feat-card {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  background-color: rgba(30, 30, 60, 0.4);
  border-radius: 8px;
  border: 1px solid var(--card-border-color);
  padding: 1.5625rem;
}
@media (max-width: 768px) {
  main.about-mars-main .content section.about-features .feat-card {
    padding: 1.25rem;
  }
}
main.about-mars-main .content section.about-features .feat-card i {
  font-size: 2rem;
  color: var(--main-orange);
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  main.about-mars-main .content section.about-features .feat-card i {
    font-size: 1.625rem;
  }
}
main.about-mars-main .content section.about-features .feat-card p {
  color: var(--main-p-color);
  font-size: 1rem;
}
@media (max-width: 480px) {
  main.about-mars-main .content section.about-features .feat-card p {
    font-size: 0.875rem;
  }
}/*# sourceMappingURL=styles.css.map */